/* ------------------------- Configuração Geral ------------------------- */
body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 400px;
}

/* ------------------------- Navegação ------------------------- */
nav {
  background-color: #81b5a1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 5px;
}

nav ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  height: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 12px;
}

nav ul li a:hover,
nav ul li a.active {
  background-color: #5c8d76;
  border-radius: 5px;
}

/* ------------------------- Botões ------------------------- */
button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #81b5a1;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6fa88e;
}

button.deleteButton {
  background-color: transparent;
  border: 1px solid #6fa88e;
  color: #6fa88e;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button.deleteButton:hover {
  background-color: #e2e2e2;
}

#addInstanceButton,
.addItemButton,
#documentationPage #searchButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #81b5a1;
  color: white;
}

#documentationPage #searchButton {
  padding: 8px;
}

#addInstanceButton:hover,
.addItemButton:hover,
#documentationPage #searchButton:hover {
  background-color: #6fa88e;
}

/* ------------------------- Links ------------------------- */
a {
  text-decoration: none;
}

/* ------------------------- Páginas Ativas ------------------------- */
#instancesPage,
#aboutPage,
#documentationPage,
#utilitiesPage {
  display: none;
}

#instancesPage.active,
#aboutPage.active,
#documentationPage.active,
#utilitiesPage.active {
  display: block;
}

/* ------------------------- Carregando (Spinner) ------------------------- */
#loading {
  display: none;
  text-align: center;
  margin-top: 10px;
}

.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top-color: #81b5a1;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------- Campos de Texto ------------------------- */
input[type="text"] {
  border: 1px solid #dadce0;
  border-radius: 20px;
  padding: 8px 15px;
  margin: 5px 10px 5px 0;
  font-size: 14px;
  flex-grow: 1;
}

input[type="text"]:focus {
  outline: none;
}

/* ------------------------- Contêiner de Instâncias ------------------------- */
#instancesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.instance {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.instance h3 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.item {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item a {
  color: #81b5a1;
  text-decoration: none;
  font-size: 16px;
}

/* ------------------------- Modal ------------------------- */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal.active {
  display: block;
}

.modal-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal input[type="text"] {
  font-size: 14px;
}

/* ------------------------- Overlay ------------------------- */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay.active {
  display: block;
}

/* ------------------------- Página Sobre ------------------------- */
#aboutPage {
  padding: 5px;
}

#aboutPage h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  text-align: justify;
}

.about-text ul {
  margin: 10px 0;
  padding-left: 20px;
}

.about-text li {
  margin-bottom: 5px;
}

.about-text span {
  font-weight: bold;
}

/* ------------------------- Página KnowNow ------------------------- */
#documentationPage {
  padding: 5px;
}

#documentationPage h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#documentationPage #searchPage p {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

#documentationPage form {
  margin-bottom: 20px;
}

#documentationPage #searchTerm,
#documentationPage #searchButton {
  font-size: 14px;
}

#searchTerm {
  outline: none;
  position: relative;
  top: -3px;
}

#searchTerm:focus {
  border: 1px solid #81b5a1;
}

#documentationPage #loading {
  margin-bottom: 20px;
  display: none;
}

#documentationPage #results .result p {
  color: #333;
  font-size: 14px;
}

#documentationPage #results .result p.date {
  font-size: 12px;
  color: #777777;
}

.container-kn {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}

.container-kn:last-child {
  margin-bottom: 0;
}

.read-more {
  color: #81b5a1;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin-left: 5px;
  padding: 2px 4px;
}

.read-more:hover {
  background-color: rgba(129, 181, 161, 0.2);
  border-radius: 4px;
}

.container-kn p:last-of-type {
  margin-bottom: 0;
}

.info-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #81b5a1;
  border: 1px solid #81b5a1;
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
  top: -2px;
}

.info-icon:hover {
  background-color: #81b5a1;
  color: white;
}

.results-header {
  font-size: 12px;
  margin-bottom: 15px;
}

.magnifying-glass {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* ------------------------- Página Instâncias ------------------------- */
#instancesPage {
  padding: 5px;
}

#instancesPage h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#instancesPage #instancesContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#instancesPage #instancesContainer .instance h3 {
  font-size: 18px;
}

#instancesPage #instancesContainer .instance ul li a {
  font-size: 14px;
}

#instancesPage #instancesContainer .instance button {
  font-size: 14px;
  padding: 4px 8px;
}

/* ------------------------- Página Utilitários ------------------------- */
#utilitiesPage {
  padding: 5px;
}

#utilitiesPage h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#utilitiesPage ul {
  list-style: none;
  padding: 0;
}

#utilitiesPage ul li {
  margin-bottom: 10px;
}

.itemsContainer {
  margin-bottom: 15px;
}

#confirmAddItemButton,
#cancelAddItemButton,
#confirmEditCategoryButton,
#cancelEditCategoryButton {
  margin-top: 10px;
}

#cancelAddItemButton,
#cancelEditCategoryButton {
  background-color: transparent;
  border: 1px solid #6fa88e;
  color: #6fa88e;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#cancelAddItemButton:hover,
#cancelEditCategoryButton:hover {
  background-color: #eeeeee;
}

/* ------------------------- Barra de rolagem ------------------------- */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #81b5a1;
  border-radius: 10px;
  border: 3px solid #f4f4f4;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #6fa88e;
}

/* ------------------------- Dropdown ------------------------- */
.settings-dropdown {
  position: relative;
  display: inline-block;
}

.settings-menu,
.theme-menu {
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
  min-width: 150px;
}

.settings-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
}

.theme-dropdown {
  position: relative;
}

.theme-menu {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 11;
}

.settings-menu li,
.theme-menu li {
  margin: 0;
}

.settings-menu li a,
.theme-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  display: block;
  padding: 5px 15px;
  border-radius: 5px;
}

.settings-menu li a:hover,
.theme-menu li a:hover {
  background-color: #81b5a1;
  color: white;
  transition: background-color 0.2s ease, color 0.2s ease;
  margin: 0 3px;
}

.settings-dropdown:hover .settings-menu,
.theme-dropdown:hover .theme-menu {
  display: block;
}

.gear-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* ------------------------- MODO CLARO ------------------------- */
.light-theme {
  background-color: #f8fafc;
  color: #202124;
}

.light-theme h1,
.light-theme h2,
.light-theme h3 {
  color: #1d1d1d;
}

.light-theme p,
.light-theme li,
span {
  color: #1d1d1d;
}

.light-theme #utilitiesPage ul li a {
  color: #81b5a1;
  font-size: 14px;
}

.light-theme #utilitiesPage ul li a:hover {
  color: #6fa88e;
}

.light-theme .instance,
.light-theme .container-kn,
.light-theme .modal {
  border: 1px solid #dadce0;
  background-color: #f6f6f6;
}

.light-theme nav {
  background-color: #81b5a1;
}

.light-theme nav ul li a {
  color: white;
}

.light-theme nav ul li a.active,
.light-theme nav ul li a:hover {
  background-color: #5c8d76;
}

.light-theme .spinner {
  border-top-color: #81b5a1;
}

/* ------------------------- BOTÕES - MODO CLARO ------------------------- */
.light-theme button {
  background-color: #81b5a1;
  color: white;
}

.light-theme button:hover {
  background-color: #5c8d76;
}

.light-theme #documentationPage #searchButton {
  background-color: #81b5a1;
}

.light-theme #documentationPage #searchButton:hover {
  background-color: #5c8d76;
}

.light-theme #addInstanceButton,
.light-theme .addItemButton {
  background-color: #81b5a1;
}

.light-theme #addInstanceButton:hover,
.light-theme .addItemButton:hover {
  background-color: #5c8d76;
}

.light-theme #cancelAddItemButton:hover,
.light-theme #cancelEditCategoryButton:hover {
  background-color: #eaeaea;
}

.light-theme button.deleteButton {
  color: #81b5a1;
  background-color: transparent;
}

.light-theme button.deleteButton:hover {
  background-color: #eaeaea;
}

.light-theme button.editCategoryButton,
.light-theme button.editItemButton {
  background-color: #81b5a1;
}

.light-theme button.editCategoryButton:hover,
.light-theme button.editItemButton:hover {
  background-color: #5c8d76;
}

/* ------------------------- CAMPOS DE ENTRADA - MODO CLARO ------------------------- */
.light-theme input[type="text"] {
  background-color: #f8fafc;
  color: #202124;
  border: 1px solid #dadce0;
}

.light-theme #addInstanceInput:focus,
.light-theme #searchTerm:focus,
.light-theme #categoryNameInput:focus,
.light-theme #itemNameInput:focus,
.light-theme #itemLinkInput:focus {
  border: 1px solid #81b5a1;
}

/* ------------------------- DROPDOWN - MODO CLARO ------------------------- */
.light-theme .settings-menu,
.light-theme .theme-menu {
  background-color: white;
  border: 1px solid #dadce0;
}

.light-theme .settings-menu li a,
.light-theme .theme-menu li a {
  color: #202124;
}

.light-theme .settings-menu li a:hover,
.light-theme .theme-menu li a:hover {
  background-color: #81b5a1;
  color: white;
}

/* ------------------------- MODO ESCURO ------------------------- */
.dark-theme {
  background-color: #242525;
  color: #e8eaed;
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme p,
.dark-theme li,
.dark-theme span {
  color: #e8eaed !important;
}

.dark-theme #utilitiesPage ul li a {
  color: #79d7eb;
  font-size: 14px;
}

.dark-theme #utilitiesPage ul li a:hover {
  color: #90d6ea;
}

.dark-theme a {
  color: #79d7eb;
}

.dark-theme a:hover {
  color: #90d6ea;
}

.dark-theme .info-icon {
  color: #2e494e;
  border: 1px solid #2e494e;
}

.dark-theme .info-icon:hover {
  background-color: #2e494e;
  color: white;
}

.dark-theme .instance,
.dark-theme .container-kn,
.dark-theme .modal {
  border: 1px solid #3c4043;
  background-color: #272827;
}

.dark-theme nav {
  background-color: #272827;
  border: 1px solid #3c4043;
}

.dark-theme nav ul li a {
  color: #e8eaed;
}

.dark-theme nav ul li a.active,
.dark-theme nav ul li a:hover {
  background-color: #165f72;
  color: white;
}

.dark-theme .spinner {
  border-top-color: #165f72;
}

/* ------------------------- BOTÕES - MODO ESCURO ------------------------- */
.dark-theme button {
  background-color: #165f72;
  color: white;
}

.dark-theme button:hover {
  background-color: #154656;
}

.dark-theme #documentationPage #searchButton {
  background-color: #165f72;
}

.dark-theme #documentationPage #searchButton:hover {
  background-color: #154656;
}

.dark-theme #addInstanceButton,
.dark-theme .addItemButton {
  background-color: #165f72;
}

.dark-theme #addInstanceButton:hover,
.dark-theme .addItemButton:hover {
  background-color: #154656;
}

.dark-theme #cancelAddItemButton,
.dark-theme #cancelEditCategoryButton {
  background-color: transparent;
  border: 1px solid #165f72;
  color: white;
}

.dark-theme #cancelAddItemButton:hover,
.dark-theme #cancelEditCategoryButton:hover {
  background-color: #38393c;
}

.dark-theme button.deleteButton {
  background-color: transparent;
  border: 1px solid #165f72;
}

.dark-theme button.deleteButton:hover {
  background-color: #38393c;
}

.dark-theme button.editCategoryButton,
.dark-theme button.editItemButton {
  background-color: #165f72;
}

.dark-theme button.editCategoryButton:hover,
.dark-theme button.editItemButton:hover {
  background-color: #154656;
}

.dark-theme .read-more {
  color: #79d7eb;
}

.dark-theme .read-more:hover {
  background-color: rgba(67, 96, 119, 0.2);
}

/* ------------------------- CAMPOS DE ENTRADA - MODO ESCURO ------------------------- */
.dark-theme input[type="text"] {
  background-color: #242525;
  color: #e8eaed;
  border: 1px solid #3c4043;
}

.dark-theme input[type="text"]::placeholder {
  color: #9aa0a6;
}

.dark-theme #addInstanceInput:focus,
.dark-theme #searchTerm:focus,
.dark-theme #categoryNameInput:focus,
.dark-theme #itemNameInput:focus,
.dark-theme #itemLinkInput:focus {
  border: 1px solid #90d6ea;
}

/* ------------------------- DROPDOWN - MODO ESCURO ------------------------- */
.dark-theme .settings-menu,
.dark-theme .theme-menu {
  background-color: #242525;
  border: 1px solid #3c4043;
}

.dark-theme .settings-menu li a,
.dark-theme .theme-menu li a {
  color: #e8eaed;
}

.dark-theme .settings-menu li a:hover,
.dark-theme .theme-menu li a:hover {
  background-color: #165f72;
  color: white;
}
