body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 400px;
}
nav {
  background-color: #81b5a1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
}
button {
  border: none;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #81b5a1;
  color: white;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #5c8d76;
}
button.deleteButton {
  background-color: #dc3545;
}
button.deleteButton:hover {
  background-color: #c82333;
}
#addInstanceButton,
.addItemButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  background-color: #81b5a1;
  color: white;
}
#addInstanceButton:hover,
.addItemButton:hover {
  background-color: #5c8d76;
}
#instancesPage,
#aboutPage,
#documentationPage {
  display: none;
}
#instancesPage.active,
#aboutPage.active,
#documentationPage.active {
  display: block;
}
#loading {
  display: none;
  text-align: center;
  margin-top: 10px;
}
.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-top-color: #81b5a1;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}
#instancesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.instance {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}
.instance h3 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.item {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item a {
  color: #81b5a1;
  text-decoration: none;
}
.item a:hover {
  text-decoration: underline;
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.modal.active {
  display: block;
}
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.overlay.active {
  display: block;
}

/* Página Sobre */
#aboutPage {
  padding: 5px;
}

#aboutPage h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#aboutPage p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

/* Página KnowNow */
#documentationPage {
  padding: 5px;
}

#documentationPage h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#documentationPage form {
  margin-bottom: 20px;
}

#documentationPage #searchTerm {
  font-size: 16px;
}

#documentationPage #searchButton {
  font-size: 16px;
  background-color: #81B5A1;
}

#documentationPage #searchButton:hover {
  background-color: #5C8D76;
}

#documentationPage #loading {
  margin-bottom: 20px;
  display: none;
}

#documentationPage #results .result p {
  color: #666;
  font-size: 14px;
}

/* Página Instâncias */
#instancesPage {
  padding: 5px;
}

#instancesPage h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#instancesPage #instancesContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#instancesPage #instancesContainer .instance h3 {
  font-size: 18px;
}

#instancesPage #instancesContainer .instance ul li a {
  font-size: 16px;
}

#instancesPage #instancesContainer .instance button {
  font-size: 14px;
  padding: 4px 8px;
}
